.header {
  position: fixed;
  background-color: rgb(132, 0, 255);
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 2px;
  border-color: rgba(0, 0, 0, 0.3);
}

.left-section {
  flex: 1;
  background-color: lightblue;
}

.middle-section {
  flex: 1;
  display: flex;
  justify-content: center;
}

.logo {
    height: 60px;
}

.right-section {
  flex: 1;
  background-color: lightblue;
  align-content: right;
}
